
a {
    text-decoration: none;
    text-decoration-color: #000;
    font-family: arial, sans-serif;
}
a:hover {
    text-decoration: underline;
}
body {
    background: #fff;
    color: #222;
}
header {

}
.top-left {
    postition: absolute;
    margin: 7px 0 0 10px;
    font-size: 13px;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}
.top-right {
    float: right;
    margin: 7px 0 0 10px;
    font-size: 13px;
    display: inline-block;
    padding-right: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}
.bottom-left {
    float: left;
    display: inline-block;
    color: #5f6368;
    text-decoration: none;
    padding-left: 27px;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    white-space: nowrap;

}
.about {
    padding-right: 10px;
}
.gmail {
    padding-right: 10px;
}
.images {
    padding-right: 10px;
}
.sign {
    padding-right: 10px;
}
.ads {
    padding-right: 10px;
}
.business {
    padding-right: 10px;
}
.privacy {
    padding-right: 10px;
}
.terms {
    padding-right: 10px;
}
.bottom-right {
    margin-right: 30px;
    float: right;
    display: inline-block;
    color: #5f6368;
}
input {
    display: block;
    text-align: center;
}
.center-block {         
    display:block;
    margin-right: auto;
    margin-left: auto;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#cb {
    text-align: center;
}
.center-buttons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.center-from-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
