
a {
    text-decoration: none;
    color: #5f6368;
    font-family: arial, sans-serif;
}
a:hover {
    text-decoration: underline;
}
body {
    background: #fff;
    color: #222;
}
header {
    padding-top: 7px;
    color: #000 !important;
}
.top-left {
    postition: absolute;
    margin: 7px 0 0 10px;
    font-size: 13px;
    display: inline-block;
    padding-left: 0px;
    opacity: 0.75;
    text-decoration: none;
}
.top-right {
    float: right;
    margin: 7px 0 0 10px;
    font-size: 13px;
    display: inline-block;
    padding-right: 15px;
    opacity: 0.75;
    text-decoration: none;
    text-align: center;
}
main {
    position: absolute; 
    visibility: visible; 
    left: 547px; 
    bottom: 355px; 
    z-index: 200;
}
#uk {
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: rgba(0,0,0,.54);
    padding-left: 15px;
    text-decoration: none;
}
.footer {
    position: absolute; 
    visibility: visible;
    width: 100%;
    bottom: 15px; 
    border-top: 1px solid #dfe1e5;
    background-color: #f2f2f2;
}
.bottom-left {
    position: absolute;
    left: 0px; 
    display: inline-block;
    color: #5f6368;
    text-decoration: none;
    padding-left: 0px;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    white-space: nowrap;
}
.bottom-right {
    position: absolute;
    right: 15px;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 40x;
    padding-right: 15px;
}
#about, #store {
    padding: 0 0 0 18px;
}
#gmail, #images, #user {
    padding: 0 18px 0 0
}
#ads, #business, #how {
    padding: 0 0 0 18px;
}
#privacy, #terms, #settings {
    padding: 0 18px 0 0;
}
#user {
    text-align: center !important;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    border: none;
    border-radius: 2px;
}
#search-box {
    position: absolute;
    left: -130px;
    top: 87px;
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,.87);
    margin-top: 30px;
    font-size: 16px;
    font-family: arial, sans-serif;
    margin-bottom: 30px;
    text-align: left;
    height: 40px;
    width: 600px;
    outline: none;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
}
#cb {
    position: absolute;
    text-align: left;
    top: 200px;
}
.center-buttons {
    height: 36px;
    background-color: #f2f2f2;
    color: #5F6368;
    min-width: 54px;
    padding: 0 16px;
    font-size: 14px;
    font-family: arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #f2f2f2;
    border-radius: 2px;

}

